/* fadeIn.module.css */
.fadeInEnter {
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 1s ease, transform 1s ease;
}

.fadeInEnterActive {
  opacity: 1;
  transform: translateY(0);
}

.fadeInReducedMotion {
  opacity: 0;
  transition: opacity 1s ease;
}

.fadeInReducedMotionActive {
  opacity: 1;
}
